mat-card {
  padding: 20px;
  margin: 20px;
}

h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  th.mat-header-cell {
    background-color: #009688;
    color: white;
    font-weight: 600;
  }

  td.mat-cell {
    padding: 10px;
  }

  tr.mat-row:hover {
    background-color: rgba(0, 150, 136, 0.1);
  }
}
