<div class="app-container" [class.authenticated]="showLayout">
  <ng-container *ngIf="showLayout; else authTemplate">
    <app-toolbar
      [username]="username"
      [userRole]="userRole"
      [organizationName]="organizationName"
      (toggleSidebar)="toggleSidebar()">
    </app-toolbar>

    <div class="layout-body">
      <app-sidebar
        [isCollapsed]="isSidebarCollapsed"
        (collapseChange)="onSidebarCollapse($event)">
      </app-sidebar>

      <div class="main-wrapper">
        <main class="main-content">
          <router-outlet></router-outlet>
        </main>
        <app-footer></app-footer>
      </div>
    </div>
  </ng-container>

  <ng-template #authTemplate>
    <div class="auth-wrapper">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>
